apiVersion: v2
description: A helm chart for bulk scan pay processor app
name: bulk-scan-payment-processor
home: https://github.com/hmcts/bulk-scan-payment-processor
version: 0.2.11
maintainers:
  - name: HMCTS BSP Team
    email: bspteam@hmcts.net
dependencies:
  - name: java
    version: 3.6.0
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
  - name: servicebus
    version: 0.3.1
    repository: https://hmctspublic.azurecr.io/helm/v1/repo/
    condition: servicebus.enabled
