java:
  applicationPort: 8583
  aadIdentityName: bsp
  ingressHost: bulk-scan-payment-processor-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  readinessPath: '/health/readiness'
  environment:
    PAYMENTS_QUEUE_ACCESS_KEY_LISTEN_NAME: "ListenSharedAccessKey"
    PAYMENTS_QUEUE_MAX_DELIVERY_COUNT: "5"
    PAYMENTS_QUEUE_NAME: payments
    PAYMENTS_CONSUME_CHECK_TIME_INTERVAL_MS: "3420000"
    PAYMENTS_QUEUE_NAMESPACE: bulk-scan-servicebus-{{ .Values.global.environment }}-premium
    S2S_NAME: "bulk_scan_payment_processor"
    S2S_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAY_HUB_URL: http://ccpay-bulkscanning-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PROCESSOR_URL: http://bulk-scan-processor-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_CLIENT_REDIRECT_URI: https://bulk-scan-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback
    CORE_CASE_DATA_API_URL: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    JMS_ENABLED: false
  image: hmctspublic.azurecr.io/bulk-scan/payment-processor:latest
  keyVaults:
    "bulk-scan":
      secrets:
        - name: app-insights-instrumentation-key
          alias: azure.application-insights.instrumentation-key
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: s2s-secret-payment-processor
          alias: S2S_SECRET
        - name: site-id-probate
          alias: SITE_ID_PROBATE
        - name: site-id-divorce
          alias: SITE_ID_DIVORCE
        - name: site-id-finrem
          alias: SITE_ID_FINREM
        - name: site-id-nfd
          alias: SITE_ID_NFD
        - name: site-id-privatelaw
          alias: SITE_ID_PRIVATELAW
        - name: site-id-bulkscan
          alias: SITE_ID_BULKSCAN
        - name: payments-queue-listen-shared-access-key-premium
          alias: PAYMENTS_QUEUE_READ_ACCESS_KEY
        - name: idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: idam-users-bulkscan-username
          alias: idam.users.bulkscan.username
        - name: idam-users-bulkscan-password
          alias: idam.users.bulkscan.password
        - name: idam-users-cmc-username
          alias: idam.users.cmc.username
        - name: idam-users-cmc-password
          alias: idam.users.cmc.password
        - name: idam-users-div-username
          alias: idam.users.divorce.username
        - name: idam-users-div-password
          alias: idam.users.divorce.password
        - name: idam-users-finrem-username
          alias: idam.users.finrem.username
        - name: idam-users-finrem-password
          alias: idam.users.finrem.password
        - name: idam-users-probate-username
          alias: idam.users.probate.username
        - name: idam-users-probate-password
          alias: idam.users.probate.password
        - name: idam-users-privatelaw-username
          alias: idam.users.privatelaw.username
        - name: idam-users-privatelaw-password
          alias: idam.users.privatelaw.password
        - name: launch-darkly-sdk-key
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: launch-darkly-offline-mode
          alias: LAUNCH_DARKLY_OFFLINE_MODE
servicebus:
  enabled: false
