java:
  secrets:
    SB_CONN_STRING:
      secretRef: servicebus-secret-namespace-{{ .Release.Name }}
      key: connectionString
  environment:
    S2S_URL: "http://rpe-service-auth-provider-aat.service.core-compute-aat.internal"
    PAYMENTS_QUEUE_READ_CONNECTION_STRING: "$(SB_CONN_STRING);EntityPath=payments"
    PAY_HUB_URL: "http://ccpay-bulkscanning-api-aat.service.core-compute-aat.internal"
    IDAM_API_URL: "https://idam-api.aat.platform.hmcts.net"
    IDAM_CLIENT_REDIRECT_URI: "https://bulk-scan-orchestrator-aat.service.core-compute-aat.internal/oauth2/callback"
    CORE_CASE_DATA_API_URL: "http://ccd-data-store-api-aat.service.core-compute-aat.internal"
  keyVaults:
    "bulk-scan":
      secrets:
        - idam-client-secret
        - s2s-secret-payment-processor
        - site-id-probate
        - site-id-divorce
        - site-id-finrem
        - idam-users-bulkscan-username
        - idam-users-bulkscan-password
        - idam-users-cmc-username # TODO: remove
        - idam-users-cmc-password # TODO: remove
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  aadIdentityName:
servicebus:
  resourceGroup: bulk-scan-aks
  teamName: "Software Engineering"
  location: uksouth
  serviceplan: basic
  setup:
    queues:
      - name: payments
bs-payment-processor:
  servicebus:
    enabled: true
