java:
  environment:
    S2S_URL: "http://rpe-service-auth-provider-aat.service.core-compute-aat.internal"
    PAYMENTS_QUEUE_NAME: "{{ .Release.Name }}-servicebus-payments"
    PAYMENTS_QUEUE_NAMESPACE: "bsp-sb-preview"
    PAY_HUB_URL: "http://ccpay-bulkscanning-api-aat.service.core-compute-aat.internal"
    IDAM_API_URL: "https://idam-api.aat.platform.hmcts.net"
    IDAM_CLIENT_REDIRECT_URI: "https://bulk-scan-orchestrator-aat.service.core-compute-aat.internal/oauth2/callback"
    CORE_CASE_DATA_API_URL: "http://ccd-data-store-api-aat.service.core-compute-aat.internal"
    PROCESSOR_URL: "http://bulk-scan-processor-aat.service.core-compute-aat.internal"
  keyVaults:
    "bulk-scan":
      secrets:
        - name:  idam-client-secret
          alias: IDAM_CLIENT_SECRET
        - name: site-id-probate
          alias: SITE_ID_PROBATE
        - name: site-id-divorce
          alias: SITE_ID_DIVORCE
        - name: site-id-finrem
          alias: SITE_ID_FINREM
        - name: site-id-nfd
          alias: SITE_ID_NFD
        - name: site-id-bulkscan
          alias: SITE_ID_BULKSCAN
        - name: s2s-secret-payment-processor
          alias: S2S_SECRET
        - name:  idam-users-bulkscan-username
          alias: idam.users.bulkscan.username
        - name:  idam-users-bulkscan-password
          alias: idam.users.bulkscan.password
  # Don't modify below here
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
servicebus:
  resourceGroup: bsp-aso-preview-rg
  teamName: "Software Engineering"
  location: uksouth
  serviceplan: basic
  sbNamespace: bsp-servicebus-preview
  setup:
    queues:
      - name: payments
  enabled: true
