wiremock:
  url: &wiremock "http://localhost:${wiremock.port}"

pay-hub:
  api:
    url: *wiremock

bulk-scan-procesor:
  api:
    url: *wiremock

async:
  threadpool-size:5

idam:
  s2s-auth:
    url: *wiremock
  api:
    url: *wiremock
  client:
    id: 'bsp'
    secret: 'idamclientsecret1'
    redirect_uri: 'http://localhost/redirect-url'
  users:
    bulkscan:
      username: user1@example.com
      password: Password12

core_case_data:
  api:
    url: *wiremock

scheduling:
  task:
    consume-payments-queue:
      enabled: false

spring:
  main:
    # without this, Spring can't properly resolve feign clients when IDAM and CCD clients are both included
    # TODO: remove when possible
    allow-bean-definition-overriding: true
